mkdocs-material
mkdocs-awesome-pages-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-redirects
mkdocs-glightbox
mkdocs-macros-plugin  # <--- AGGIUNGI QUESTA RIGA
pillow
cairosvg
urllib3
pymdown-extensions
markdown