/*
 * Stili personalizzati per Admonition e Details
 */

/* Regole Globali (Testo Nero, Titolo Grassetto) */
.md-typeset .admonition-title,
.md-typeset summary {
    font-size: .8rem;
    font-weight: 700; /* Grassetto */
    color: var(--cri-nero);
}
.md-typeset .admonition,
.md-typeset details {
    font-size: .8rem;
    color: var(--cri-nero);
}
.md-typeset :is(.admonition,details) {
    font-size: .8rem;
}
.md-typeset .admonition-title:before,
.md-typeset summary:before {
    transform: translateY(10%);
}

/* Tipi Positivi (Verde) */
.md-typeset .admonition.info,
.md-typeset .admonition.tip,
.md-typeset .admonition.success {
  border-color: var(--cri-verde);
}
.md-typeset .admonition.info > .admonition-title,
.md-typeset .admonition.tip > .admonition-title,
.md-typeset .admonition.success > .admonition-title {
  background-color: rgba(16, 108, 89, 0.1); /* Verde 10% */
  border-color: var(--cri-verde);
}
.md-typeset .admonition.info > .admonition-title:before,
.md-typeset .admonition.tip > .admonition-title:before,
.md-typeset .admonition.success > .admonition-title:before {
  color: var(--cri-verde);
}

/* Tipi Negativi (Rosso) */
.md-typeset .admonition.danger,
.md-typeset .admonition.warning,
.md-typeset .admonition.attention,
.md-typeset .admonition.error {
  border-color: var(--cri-rosso);
}
.md-typeset .admonition.danger > .admonition-title,
.md-typeset .admonition.warning > .admonition-title,
.md-typeset .admonition.attention > .admonition-title,
.md-typeset .admonition.error > .admonition-title {
  background-color: rgba(204, 0, 0, 0.1); /* Rosso 10% */
  border-color: var(--cri-rosso);
}
.md-typeset .admonition.danger > .admonition-title:before,
.md-typeset .admonition.warning > .admonition-title:before,
.md-typeset .admonition.attention > .admonition-title:before,
.md-typeset .admonition.error > .admonition-title:before {
  color: var(--cri-rosso);
}