.md-header {
    /* Forza lo sfondo header a essere bianco */
    background-color: var(--cri-white) !important;
    /* Rimuove l'ombra di default per un look pulito */
    box-shadow: none;
    /* Aggiunge un sottile bordo/ombra solo in basso per separare dal contenuto */
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* TABS & Navigazione */
.md-tabs {
    background-color: var(--footer-dark);
}

/* Forzo il testo dei tab a essere sempre bianco */
.md-tabs__link {
    color: var(--cri-white) !important;
}

/* Forza i tab di navigazione a rimanere rossi in stato di hover/focus */
.md-tabs__link:hover,
.md-tabs__link:focus,
.md-tabs__link--active {
    /* Qui il colore deve rimanere rosso per indicare l'attivazione */
    color: var(--cri-red) !important;
}