.md-header {
    /* Forza lo sfondo header a essere bianco */
    background-color: var(--cri-bianco) !important;
    /* Rimuove l'ombra di default per un look pulito */
    box-shadow: none;
    /* Aggiunge un sottile bordo/ombra solo in basso per separare dal contenuto */
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* TABS & Navigazione */
.md-tabs {
    background-color: var(--footer-dark);
}

/* Forzo il testo dei tab a essere sempre bianco */
.md-tabs__link {
    color: var(--cri-bianco) !important;
}

/* Forza i tab di navigazione a rimanere rossi in stato di hover/focus */
/* 4. Correzione Colore Hover e Focus (Rosso) */
.md-tabs__link:hover,
.md-tabs__link:focus,
.md-tabs__link--active {
    color: var(--cri-rosso) !important;
}