/*
 * Ottimizzazioni per Mobile
 */

@media screen and (max-width: 76.1875em) {
    .md-header {
        display: block;
        background-color: var(--cri-white) !important;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: none;
    }
    .md-header__button.md-logo {
        display: block;
    }
     .md-header .md-icon {
         color: var(--cri-nero); /* Icone Nere (es. Hamburger) */
     }
}